/*@import url('https://fonts.cdnfonts.com/css/trebuchet-ms-2');
@import url('https://fonts.cdnfonts.com/css/cera-round-pro-demo');
*/
/*font-family: 'Cera Round Pro DEMO', sans-serif;*/
* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.8;
}

a {
    text-decoration: none !important;
    transition: 0.3s;
}

input,
textarea,
button,
.slick-slide {
    outline: none !important;
    border: none;
}

body {
    color: #303030;
    font-size: 16px;
    font-family: 'Trebuchet MS', sans-serif;
    background: #F6F7FA;


}



section {
    position: relative;
}

ul,
li {
    margin: 0;
    padding: 0;
}

:root {
    --def-color: #FFDA8F;
}


.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background: #222;
}

.loader-block {
    display: flex;
    align-items: center;
}

.loader-block-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--def-color);
}

.loader-block-item+.loader-block-item {
    margin-left: 10px;
}

.loader-block-item:nth-child(1n) {
    animation: loaderBottom 1s infinite;
}

@keyframes loaderTop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    0% {
        transform: translateY(0);
    }
}

.loader-block-item:nth-child(2n) {
    animation: loaderTop 1s infinite;
}

@keyframes loaderBottom {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    0% {
        transform: translateY(0);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.up-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    position: fixed !important;
    right: 20px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: 0.3s;
    background: linear-gradient(90deg, #574DCC 0%, #579AFF 100%);
}

.up-btn:hover {
    background: #0D182E;
    border-color: var(--def-color);
}

.up-btn img {
    max-width: 70%;
    max-height: 70%;
    transition: 0.3s;
    animation: up 1s infinite;
}


@keyframes up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    0% {
        transform: translateY(0);
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}



/*default style*/

main{
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 100%;
    position: relative;
}
.container{
    max-width: 1400px;
}

.head {
    padding-top: 48px;
    overflow: hidden;

    .container {
        max-width: 1382px;
    }
    .title{
        text-align: start;
    }
    .slogan{
        max-width: 421px;
    }
}

.head-btn {
    text-align: right;
    margin-bottom: 76px;
}

.head-btn-item {
    color: #579AFF;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px 0px #0000000D;
    background: linear-gradient(90deg, #579AFF 11.17%, #574DCC 96.28%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 14px 21px;
    font-size: 18px;
    line-height: 1;
    border-radius: 10px;
    border: 1px solid transparent;
}

.head-btn-item:hover {
    transform: scale(1.05);
    border-color: #579AFF;
}

.head-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-text-block{
    width: 728px;
    max-width: 49%;
}

.head-form{
    background: #fff;
    border-radius: 30px;
    padding: 58px 63px 111px 63px;
    max-width: 484px;
    position: relative;
    font-size: 18px;
    .gradient-glow{
        width: 356px;
        height: 356px;
        right: -71px;
        bottom: -100px;
        background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
        opacity: 0.5;
    }
}

.head-form-switch-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-form-switch-btn-item{
    background: #5893FA33;
    width: 30px;
    height: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.head-form-switch-btn-item:hover{
    transform: scale(1.1);
}
.head-form-switch-btn-item+.head-form-switch-btn-item{
    margin-left: 10px;
}
.head-form-switch-btn-item.active{
    background: #5893FA;

}
.head-form-switch-item+.head-form-switch-item{
    display: none;
}
.head-form-inner{

}
.head-form-block{

}
.head-form-block{
    display: block;
    padding: 0;
    margin: 0;
}
.head-form-block+.head-form-block{
    margin-top: 27px;
}
.head-form-block-title{

    line-height: 1;
    margin-bottom: 12px;
}
.head-form-block-item{
    position: relative;
}
.head-form-block-item input{
    width: 100%;
    height: 60px;
    padding: 20px;
    color: #8789A1;
    background: #F5F7F9;
    box-shadow: 0px 0px 10px 0px #261F7B0D inset;
    border-radius: 10px;

}


.head-form-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}
.head-form-option-item{
    width: 49.5%;
    height: 60px;
    background: #F5F7F9;
    box-shadow: 0px 0px 5.8px 0px #00000005 inset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8789A1;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.head-form-option-item:hover{
    opacity: 0.5;
}

.head-form-option-item input{
    position: absolute;
    z-index: -10;
    opacity: 0;
}
.head-form-option-item.active{
    background: #1A73E8;
    color: #fff;
    opacity: 1 !important;
}
input::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.head-form-check{
    display: flex;

}
.head-form-check.active .head-form-check-item{
    background: #574DCC ;
}
.head-form-check-item{
    background: #F5F7F9;
    box-shadow: 0px 0px 5.8px 0px #261F7B0D inset;
    min-width: 17px;
    height: 17px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    position: relative;
    top: 3px;
}
.head-form-check-item input{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    opacity: 0;
}
.head-form-check-title{
    margin-left: 13px;
    color: #8789A1;
    font-size: 10px;
}

.head-form-block-item-password-object{
    padding: 2px 4px;
    border-radius: 5px;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s;
}
.head-form-block-item-password-object.active{
    background: #fff;
}
.head-form-sign{
    display: flex;
    align-items: center;
    padding: 3px 4px;
    border-radius: 10px;
    background: #1A73E8;
    cursor: pointer;
}
.head-form-sign-mail{
    margin-top: 29px;
}
.head-form-sign:hover{
    .head-form-sign-title{
        transform: translateX(10px);
    }
}
.head-form-sign-icon{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background: #fff;
}
.head-form-sign-title{
    margin-left: 34px;
    color: #fff;
    transition: 0.3s;
}
.head-form-or{
    color: #8789A1;
    text-align: center;
    margin: 18px 0;
}

.head-form-text{
    margin-top: 21px;
    color: #595B75;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}




.head-slider {
    margin-top: 128px;
}

.head-slider-item {
    padding: 20px;
    transition: 0.3s;
}

.head-slider-item:hover {
    filter: grayscale(80%);
}

.head-slider-item img {
    width: 100%;
    max-height: 600px;
    height: 32vw;
    min-height: 312px;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0px 10px 30px 0px #0000000D;

}

.gradient-glow {
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
    opacity: 1;
    z-index: -1;
}

.about {
    padding: 170px 0;
    overflow: hidden;
    .gradient-glow {}
}

.about-block {
    padding: 66px 40px 80px 40px;
    border-radius: 60px;
    background: #fff;
    box-shadow: 0px 10px 30px 0px #0000000D;
    transition: 0.3s;
    text-align: center;
    max-width: 1348px;
    margin: 0 auto;
    position: relative;

    .slogan {
        max-width: 650px;
        margin: 0 auto;
    }

    .gradient-glow {
        background: linear-gradient(180deg, rgba(52, 148, 230, 0.5) 0%, rgba(236, 110, 173, 0.5) 100%);
        width: 217px;
        height: 217px;
        right: -109px;
        top: -80px;
    }
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    text-align: center;
    margin-bottom: 43px;
    text-align: center;
}

.slogan {
    font-size: 24px;
    line-height: 1.2;
}

.slogan+.slogan {
    margin-top: 20px;
}

.about-block-btn {
    margin-top: 50px;
}

.h-btn {
    background: linear-gradient(90deg, #574DCC 0%, #579AFF 100%);
    box-shadow: 0px 20px 30px 0px #584FCD33;
    color: #fff;
    padding: 20px 100px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s;
    max-width: 100%;

}

.h-btn:hover {
    transform: scale(1.1);
    border-radius: 5px;
}


.why {
    position: relative;

    .gradient-glow {
        top: -32px;
        right: 31%;
        width: 474px;
        height: 474px;
        background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
        opacity: 0.8;
        filter: blur(70px);
    }

    .title {
        margin-bottom: 5px;
    }
}

.why-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1292px;
    margin: 0 auto;
    gap: 4%;

}

.why-inner {
    width: 31%;
    margin-top: 4%;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0px 10px 30px 0px #0000000D;
    padding: 40px;
    transition: 0.3s;
}

.why-inner:hover {
    transform: translateY(-10px);
}

.why-inner:nth-child(3) {
    margin-left: auto;
}

.why-inner-header {
    display: flex;
    align-items: center;
    min-height: 60px;
}

.why-inner-header-title {
    margin-left: 11px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
}

.why-inner-slogan {
    margin-top: 4px;
    font-size: 18px;
    line-height: 1.2;
}
.why-mob{
    display: none;
    margin-top: 59px;
}
.why-mob img{
    width: 100%;
    height: 308px;
    object-fit: cover;
    border-radius: 30px;
}
.here {
    padding: 170px 0;

}

.here-list {
    max-width: 800px;
    margin: 0 auto;
    position: relative;

    .gradient-glow {
        background: linear-gradient(180deg, rgba(52, 148, 230, 0.5) 0%, rgba(236, 110, 173, 0.5) 100%);
        width: 217px;
        height: 217px;
        left: -47%;
        top: 70px;
    }
}

.here-list-item {
    display: flex;
    align-items: center;
    min-height: 120px;
    padding: 20px 40px 20px 130px;
    box-shadow: 0px 10px 30px 0px #0000000D;
    background: #fff;
    border-radius: 30px;
    transition: 0.3s;
}

.here-list-item:hover {
    transform: translateX(10px);
}

.here-list-item+.here-list-item {
    margin-top: 10px;
}

.here-list-item-icon {
    width: 36px;
    height: 36px;
}

.here-list-item-icon img {
    width: 100%;
    height: 100%;

}

.here-list-item-title {
    line-height: 1;
    font-size: 24px;
    margin-left: 11px;
}

.stream {
    padding-bottom: 217px;
}

.stream-text-block {
    text-align: center;
    max-width: 1130px;
    margin: 0 auto;

    .slogan {
        max-width: 558px;
        margin: 0 auto;
    }
}

.stream-slider-item {
    padding: 30px 5px;
    transition: 0.3s;
}

.stream-slider-item:hover {
    filter: grayscale(80%);
}

.stream-slider-item img {
    width: 100%;
    max-height: 410px;
    height: 18vw;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0px 10px 30px 0px #0000000D;

}

.stream-btn {
    padding: 0 15px;
    margin-top: 60px;
    text-align: center;
}

.agitation {
    padding: 176px 0 274px 0;


    .title {
        text-align: start;
        margin-bottom: 0;
    }

    .slogan {
        font-size: 21px;
        margin: 32px 0 36px 0;
        max-width: 538px;

    }
}

.agitation-block {
    max-width: 50%
}

.agitation-object {
    max-width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    .gradient-glow{
        background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
        width: 502px;
        height: 502px;
        opacity: 0.5;
        top: 8%;
        left: 3%;
    }
}
.agitation-object-img img{
    max-width: 100%;
}

.agitation-object-description {
    position: absolute;
    left: 26%;
    bottom: 40%;
    background: linear-gradient(90deg, #574DCC 0%, #579AFF 92.27%);
    padding: 17px 17px 13px 17px;
    color: #fff;
    font-size: 16px;
    max-width: 187px;
    border-radius: 20px;
}

.agitation-object-description:after {
    content: "";
    display: block;
    width: 20px;
    height: 22px;
    background: linear-gradient(180deg, #574DCC 0%, #579AFF 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    right: 50px;
    top: 0;
    transform: translateY(-99%);

}

.footer{
    background: #FCFCFF;
    padding: 100px 0;
    .container{
        max-width: 1498px;
    }
}
.footer-row{
    display: flex;
    justify-content: space-between;
}
.footer-row-item:first-child{
    width: 30%;
}
.footer-link{
    display: block;
    color: #303030;
    font-size: 22px;
    line-height: 1;
}
.footer-link:hover{
    opacity: 0.5;
}
.footer-link+.footer-link{
    margin-top: 22px;
}
.footer-title{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 39px;
}

@media screen and (max-width: 1200px){
    .title {
        font-size: 42px;
    }
    .head-slider-item{
        padding: 5px;
    }
    .stream-slider-item img{
        height: 305px;
    }
    .why-inner-header-icon{
        width: 24px;
        min-width: 24px;
        height: 24px;
    }
    .why-inner-header-icon img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .why-inner-header-title{
        font-size: 18px;
    }
    .why-inner-slogan{
        font-size: 16px;
    }
    .why-inner{
        padding: 28px 25px;
    }
    .agitation{
        overflow: hidden;
    }

}

@media screen and (max-width: 992px){
    .agitation{
        padding-top: 0;
    }
    .agitation-object-description{
        left: 9%;
        bottom: 32%;
    }
}


@media screen and (max-width: 768px){
    .title{
        font-size: 24px;
    }
    .slogan{
        font-size: 16px;
    }
    .agitation{
        overflow: visible;
        order: -1;
        padding: 50px 0 20px 0;
        .title{
            text-align: center;
            margin-bottom: 20px;
        }
        .slogan{
            margin: 0 auto;
        }
    }
    .agitation-object{
        position: relative;
        max-width: 100%;
        width: 100%;
    }
    .agitation-block{
        max-width: 100%;
        text-align: center;
    }
    .agitation-object {
        .gradient-glow {
            background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
    .agitation-btn{
        transform: translateY(-100%);
    }
    .agitation-object-description {
        left: 29%;
        bottom: 42%;
        font-size: 8px;
        padding: 8px;
        max-width: 91px;
        border-radius: 9px;
    }
    .agitation-object-description:after{
        width: 9px;
        height: 12px;
        right: 27px;
    }
    .head-btn{
        display: none;
    }
    .head-row{
        display: block;
    }
    .head-text-block{
        max-width: 100%;
        padding-top: 20px;
        .title{
            margin-bottom: 14px;
        }
    }
    .head-form{
        margin-top: 40px;
        padding: 30px 35px 70px 35px;
        border-radius: 20px;
        font-size: 12px;
    }
    .head-form-switch-btn{
        bottom: 30px;
    }
    .head-form-block-title{
        margin-bottom: 6px;
    }
    .head-form-option-item{
        height: 34px;
    }
    .head-form-block-item input{
        height: 34px;
        padding-left: 11px;
    }
    .h-btn{
        padding: 10px 50px;
        width: 280px;
        max-width: 100%;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .head-form-switch-btn-item{
        width: 17px;
        height: 3px;
    }
    .head-form-sub{
        text-align: center;
    }
    .head-form-sign-icon{
        width: 30px;
        height: 30px;
    }
    .head-form-sign-icon img{
        width: 70%;
        height: 70%;
    }
    .head-form-or{
        margin: 10px 0;
    }
    .head-form-text{
        font-size: 11px;
    }
    .head-slider{
        margin-top: 60px;
    }
    .head-form {
        .gradient-glow{
            display: none;
        }
    }
    .about{
        padding: 60px 0;
        .title{
            margin-bottom: 13px;
        }
    }
    .about-block{
        padding: 40px 15px;
        border-radius: 20px;
        .gradient-glow{
            display: none;
        }
    }
    .slogan+.slogan{
        margin-top: 10px;
    }
    .why-inner:nth-child(3){
        margin-left: 0;
    }
    .why-row{
        margin-top: 30px;
    }
    .why-inner{
        width: 100%;
        border-radius: 20px;
        margin: 0;
    }
    .why-mob{
        display: block;
    }
    .why{
        .gradient-glow{
            width: 100%;
            height: 90%;
            top: auto;
            right: auto;
            bottom: -100px;
            border-radius: 0;
        }
    }
    .here{
        padding: 60px 0;
    }
    .here-list-item+.here-list-item{
        margin-top: 20px;
    }
    .here-list-item{
        padding: 40px 30px 30px 30px;
        display: block;
        text-align: center;
    }
    .here-list-item-icon{
        margin: 0 auto 17px auto;
    }
    .here-list-item-title{
        font-size: 16px;
        margin-left: 0;
    }
    .stream{
        padding-bottom: 60px;
    }
    .stream-btn{
        margin-top: 0px;
    }
    .footer{
        padding: 50px 0;
    }
    .footer-row{
        display: block;
    }
    .footer-link+.footer-link{
        margin-top: 10px;
    }
    .footer-link{
        font-size: 16px;
    }
    .footer-row-item+.footer-row-item{
        margin-top: 30px;
    }
    .footer-title{
        margin-bottom: 12px;
        font-size: 16px;
    }
    .stream{
        position: relative;
    }
    .stream .gradient-glow{
        background: linear-gradient(180deg, #3494E6 0%, #EC6EAD 100%);
        opacity: 0.5;
        filter: blur(70px);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
    }
}

@media screen and (max-width: 400px){
    .agitation-object-description {
        left: 19%;
        bottom: 37%;
    }
}